{% extends "layout.html" %} {% block content %}

<div>
	<form method="POST" action="">
		<fieldset>
			<legend>Sargydyň maglumaty</legend>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label> Ady </label>
						<input
							type="text"
							name="sender_name"
							class="form-control"
							placeholder="Ady"
						/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label"> Atasynyň ady </label>
						<input
							type="text"
							name="sender_surname"
							class="form-control"
							placeholder="Atasynyň ady"
						/>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">@</span>
							<input
								type="text"
								name="sender_email"
								placeholder="E-mail"
								class="form-control"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-phone"></i>
							</span>
							<input
								type="text"
								name="postal_phone_number"
								placeholder="Çaparyň belgisi"
								class="form-control"
							/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-phone"></i>
							</span>
							<input
								type="text"
								name="sender_phone_number"
								placeholder="Iberijiň belgisi"
								class="form-control"
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="block"> Ibermeli ýer </label>
						<div class="clip-radio radio-primary">
							<input
								type="radio"
								id="warehouse"
								name="place_to_deliver"
								value="warehouse"
								checked="checked"
							/>
							<label for="warehouse"> Jemleýji ammar </label>
							<input
								type="radio"
								id="place_to_deliver"
								name="route"
								value="house"
							/>
							<label for="house"> Öý </label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label"> Code </label>
						<input
							type="text"
							name="card_code"
							class="form-control"
							placeholder="Code"
						/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label> Ibermeli şäheri we regiony saýlaň </label>
						<select name="place_to_deliver" class="form-control">
							<!-- <option value="">&nbsp;</option> -->
							<option value="AS">Aşgabat</option>
							<option value="AH">Ahal</option>
							<option value="BN">Balkan</option>
							<option value="LB">Lebap</option>
							<option value="DZ">Daşoguz</option>
							<option value="MR">Mary</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label"> Salgy </label>
						<input
							type="text"
							name="address"
							class="form-control"
							placeholder="salgy"
						/>
					</div>
				</div>

				<div class="col-md-6"></div>
			</div>

			<div class="checkbox clip-check check-primary checkbox-inline">
				<input
					type="checkbox"
					id="checkbox11"
					name="paid"
					value="1"
					checked=""
				/>
				<label for="checkbox11"> Sargyt tölendi </label>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Haryt</th>
								<th class="hidden-480">San</th>
								<th class="hidden-480">Bahasy</th>
								<th>Jemi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>HP wireless optical mouse</td>
								<td class="hidden-480">1</td>
								<td class="hidden-480">100 m.</td>
								<td>100 m.</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Air Pods</td>
								<td class="hidden-480">3 m.</td>
								<td class="hidden-480">50</td>
								<td>150 m.</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Arduino Set #1</td>
								<td class="hidden-480">1</td>
								<td class="hidden-480">982 m.</td>
								<td>982 m.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel panel-white">
				<div class="panel-heading">
					<div class="panel-title">Bellik</div>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<textarea
							placeholder="Default Text"
							id="form-field-22"
							name="info"
							class="form-control"
						></textarea>
					</div>
				</div>
			</div>
		</fieldset>

		<div style="display: flex; justify-content: space-between">
			<button type="button" class="btn btn-wide btn-danger btn-lg">
				<i class="fa fa-trash-o"></i>
				Beset
			</button>
			<!-- <a href="/save"> -->
			<button type="submit" class="btn btn-wide btn-dark-azure btn-lg">
				<i class="fa fa-arrow-circle-right"></i>
				Hasaba al
			</button>
		</div>
		<!-- </a> -->
	</form>
</div>

{% endblock %}
